brotli==1.1.0
ConfigParser==6.0.0
cryptography>=41.0.5,<42
Cython==3.0.0
Flask==2.3.2
gunicorn==21.2.0
HTMLParser==0.0.2
ipaddr==2.2.0
keyring==24.2.0
lxml==4.9.3
numpy==1.24.3
opencv_contrib_python==4.8.0.74
opencv_python==4.8.0.74
opencv_python_headless==4.5.5.62
ordereddict==1.1
Pillow==10.0.0
protobuf==3.20.2
pyOpenSSL==23.3.0
ultralytics==8.0.203
google-cloud-storage==2.9.0
flask-cors==4.0.0
# google-cloud-datastore==2.18.0
# gevent==21.8.0
# fastapi==0.97.0
# python-multipart==0.0.6